


<footer class="page-footer #d32f2f red darken-2">
          <div class="container">
            <div class="row">
              <div class="col s12 center">
                <h5 class="white-text center">A&M Bread Express</h5>
                	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
						  		<%= link_to 'About Bread Express', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
									<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
									<%= link_to 'Privacy Policy', privacy_path %>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Webmaster: <%= mail_to("amyli@andrew.cmu.edu", "Amy Li", encode: "javascript") %> © 2015 Copyright Text
            </div>
          </div>
</footer>