<div class="col s4">
	<div class="card #689f37 green">
		<div class="card-content white-text">
			<span class="card-title">My Account</span>
			<p><%= current_user.customer.proper_name%><br/>
				Username: <%= current_user.username %><br />
				Phone: <%= number_to_phone current_user.customer.phone%><br />
			  Email: <%= current_user.customer.email %><br />
			  <%= link_to "[Edit My Account]", customer_path(current_user.customer) %>
			  &nbsp;&nbsp;::&nbsp;&nbsp;
			  <%= link_to "[Log out]", logout_path %>
				</p>
		</div>
	</div>
</div>

<div class="col s8">
	<div class="card #e8f5e9 green lighten-5">
		<div class="card-content black-text">
			<span class="card-title black-text">My Orders</span>
			<p>
				<% if current_user.customer.orders.not_shipped.chronological.empty? %>
					<i>No pending orders</i>
				<% else %>
					<% current_user.customer.orders.not_shipped.chronological.each do |order| %>
						<table>
							<thead>
								<tr>
									<th width="120">Date</th>
									<th width="100">Amount</th>
								</tr>
							</thead>
							<tbody>
			          <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
			          <td><%= number_to_currency order.grand_total %></td>
			        </tbody>
			      </table>
			    <% end %>

				<% end %><br />
			  <%= link_to "[View All Orders]", orders_path %>
				</p>
		</div>
	</div>
</div>