<div class="container">
	<!-- generic guest view -->
		<% if !logged_in? %>
		<h3>Welcome to A &amp; M Bread Express</h3>
		<div class="row">
			<%= image_tag 'banner.jpg' %>
		</div>
		<div class="content">
			<div class="col s7">
				<p>Bread Express is a small online bakery that only produces the best. We provide a large variety of baked goods from applie pie that reminds you of you're grandmother's pies to innovative new recipes. Despite our range of products, Bread Express only provides 
					delicious, nutritious and amazing goods everyday.</p>
			</div>

			<div class="col s5">
				<div class="card #689f38 light-green darken-2">
					<div class="card-content white-text">
						<span class="card-title">Customers</span>
						<p>
							If you are a registered user, 
							  <%= link_to "click here to login", login_path %>. If you want 
							  to create an account with us, <%= link_to "please click to register", signup_path %>.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- personalized view for each type of user -->
		<% else %>
		<!-- customers see their name, other users to their username -->
			<h3>Welcome back, 
				<%= current_user.customer.first_name if current_user.role?(:customer)%>
				<%= current_user.username if !current_user.role?(:customer)%>!</h3>
			<div class="row">
				<%= image_tag 'banner.jpg' %>
			</div>
			<div class="content">

				<!-- Logged in users can see preview of up to 5 items on menu -->
				<% if logged_in? %>
					<div class="col s12">
						<div class="card #c8e6c9 green lighten-4">
							<div class="card-content black-text">
								<span class="card-title black-text">Available Items</span>
									<!-- Admins can create a new item -->
									<% if current_user.role?(:admin) %>
										&nbsp;&nbsp;
										<small><%= link_to "[Create New Item]", new_item_path %></small>
									<% end %>
									<!-- Actual content of menu items -->
									<% if Item.alphabetical.empty? || Item.alphabetical.nil? %>
										<i>No active items at this time. Create a <%= link_to "new item", new_item_path %></i>
									<% elsif !Item.alphabetical.nil? || !Item.alphabetical.empty? %>
										<table class="hoverable">
											<thead>
												<tr>
													<th>Name</th>
													<th>Price</th>
													<th>Units</th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<% Item.alphabetical.paginate(:page => params[:page]).per_page(5).each do |item| %>
											<tr>
												<td><%= link_to item.name, item_path(item) %></td>
												<td><%= number_to_currency item.current_price %></td>
												<td><%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></td>
												
												<td>
													<% if current_user.role?(:admin) %>
													<%= link_to(edit_item_path(item)) do %>
													<i class="small mdi-editor-mode-edit"></i>
														<% end %>
												<% end %>
												<% if (current_user.role?(:customer) || current_user.role?(:admin)) %>
													<%= link_to(add_cart_path(item.id)) do %>
														<i class="small mdi-action-add-shopping-cart"></i>
													<% end %>
												</td>
												<% end %>
											</tr>
											<% end %>
										</table>
										<div align="right">
											<br/><%= link_to "[View All Items]", items_path %>
										</div>
									<% end %>
							</div>
						</div>
					</div>
				<% end %>

				<!-- Dash for each type of user -->
				<% if logged_in? && current_user.role?(:customer) %>
					<%= render :partial => "customer_dash" %>
				<% end %>
				<% if logged_in? && current_user.role?(:admin) %>
					<%= render :partial => "admin_dash" %>
				<% end %>
				<% if logged_in? && current_user.role?(:baker) %>
					<%= render :partial => "baker_dash" %>
				<% end %>
				<% if logged_in? && current_user.role?(:shipper) %>
					<%= render :partial => "shipper_dash" %>
				<% end %>
			</div>
		<% end %>
</div>



