<% if @items.active.empty? || @items.active.nil? %>
	<h5 class="center">No active items at this time</h5>
<% elsif !@items.active.nil? || !@items.active.empty? %>
  <h5 class="center">Available Items</h5>
  <table class="hoverable centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Units</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @items.active.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></td>
          <% if logged_in? && current_user.role?(:admin) %>
            <td><%= link_to "Edit", edit_item_path(item) %> </td>
          <% end %>
          <td><%= link_to "Add to Cart", add_cart_path(item.id), :method => :patch %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
