<div class="col s12">
	<h3><%= @item.name %></h3>

	<% if @item.picture.nil? %>
    <%= image_tag ('default.png') %>
  <% else %>
    <%= image_tag (@item.picture) %>
  <% end %>

	<p>
	  <b>Description</b>: <%= @item.description %>
	</p>

	<p>
	  <b>Price</b>: <%= number_to_currency @item.current_price %>
	</p>

	<p>
	  <b>Total weight</b>: <%= @item.weight %> lbs.
	</p>

	<% if logged_in? && current_user.role?(:admin) %>
	<%= render partial: "item_prices/item_prices_list", locals: {item_prices: @item_prices} %>
	<% end %>

	<table class="hoverable center">
		<tr><h4>Similar Items </h4></tr>
		<% @similar_items.each do |item| %>
			<tr>
				<td><%= link_to item.name, item_path(item) %></td>
			</tr>
		<% end %>
	</table>


</div>