<div class="container">
	<h3>Your Cart <i class="medium mdi-action-shopping-cart"></i></h3>

	<% if @order_items.nil? || @order_items.empty? %>
		<h5><br/>Your cart is currently empty! Go to our <%= link_to "menu", items_path %> to add items to your cart.</h5>

	<% else %>
		<div class="row">
		<%= render partial: "partials/cart_details" %>
		<div align="right">
			<h5>Item(s) Subtotal: <%= number_to_currency @items_cost %><br/>
			Shipping &amp; Handling: <%= number_to_currency @shipping_cost %></h5>
			<h5><b>Total Cost: <%= number_to_currency @total %></b></h5>
		</div>
	  <% end %>
	

</div>



</div>


